version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:9-jdk
    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx1024m
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          - v1-dependencies-
      - run: echo $SECRING_GPG_ASC_BASE64 | base64 --decode | gpg --batch --no-tty --import --yes
      - run: echo $SETTINGS_BASE64 | base64 --decode > ~/.m2/settings.xml
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run: mvn deploy -Dgpg.passphrase=$SECRING_GPG_PASSPHRASE
      - run: bash <(curl -s https://codecov.io/bash)
